h1 {
    margin-top: 44px;
}

.box-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}
p.Dv {
    margin-top: -0.5%;
}
.h1Text{
    margin-top: 5%;
}
.carousel.slide {
    width: 100%;
    max-height: 1440px;
    overflow: hidden;
    margin: auto;
    margin-top: 0px;
}
@media screen and (max-width:2559px) {
    .carousel.slide {
        max-height: 810px;
    }
}
@media screen and (max-width:1439px) {
    .carousel.slide {
        max-height: 576px;
        margin-top: 44px;
    }
}
@media screen and (max-width:1023px) {
    .carousel.slide {
        max-height: 432px;
        margin-top: 44px;
    }
}
@media screen and (max-width:500px) {
    .carousel.slide {
        max-height: 240px;
        margin-top: 44px;
    }
}